//******************************************************************************************************
//
//  OVERRIDES FOR DEFAULT BOOTSTRAP VARIABLES
//  NO NEED TO REFERENCE THIS FILE DIRECTLY. IT IS REFERENCED BY 'bootstrap_includes.scss'
//
//  Documentation:  https://getbootstrap.com/docs/4.0/getting-started/theming/
//  Variables Reference: https://github.com/twbs/bootstrap/blob/v4.0.0-beta.2/scss/_variables.scss
//
//******************************************************************************************************

$color-brand: #5f7800;
$color-brand-lighter: #009933;
$color-brand-darker: #070a64;

$color-brand-alt: #eb8200;
$color-brand-alt-lighter: #ffb400;
$color-brand-alt-darker: #070a64;

$color-text: #000;
$color-text-lighter: #FFFFFF;
$color-text-darker: #FFFFFF;
$color-text-alt: #FFFFFF;

$color-grey: #d9d5d2;
$color-grey-lighter: #F5F5F5;
$color-grey-darker: #2d2c2c;

$color-fail: #FFFFFF;
$color-success: #FFFFFF;

$color-link: #000066;
$color-link-alt: #00a0be;
$color-hover: #000;
$color-hover-alt: $color-brand-lighter;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Open Sans Condensed', sans-serif;
$font-tertiary: 'Raleway', sans-serif;
$font-quartenary: 'Oswald', sans-serif;

$border-radius: 2px;



$grid-columns:      12;

$grid-gutter-width: 30px;

$grid-breakpoints: (
// Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1530px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1470px
);
