
// TEXT COLORS

.text-brand {
    color: $color-brand !important;
}

.text-brand-lighter {
    color: $color-brand-lighter !important;
}

.text-brand-darker {
    color: $color-brand-darker !important;
}

.text-brand-alt {
    color: $color-brand-alt !important;
}

.text-brand-alt-lighter {
    color: $color-brand-alt !important;
}

.text-brand-alt-darker {
    color: $color-brand-alt-darker !important;
}

.text {
    color: $color-text !important;
}

.text-lighter {
    color: $color-text-lighter !important;
}

.text-darker {
    color: $color-text-darker !important;
}

.text-alt {
    color: $color-text-alt !important;
}

.text-grey {
    color: $color-grey !important;
}

.text-grey-lighter {
    color: $color-grey-lighter !important;
}

.text-grey-darker {
    color: $color-grey-darker !important;
}

.text-fail {
    color: $color-fail !important;
}

.text-success {
    color: $color-success !important;
}

.text-link {
    color: $color-link !important;
}

.text-link-alt {
    color: $color-link-alt !important;
}

.text-hover {
    color: $color-hover !important;
}

.text-hover-alt {
    color: $color-hover-alt !important;
}

.text-white {
    color: #fff !important;
}

.text-black {
  color: #000 !important;
}

// BACKGROUND COLORS

.background-brand {
    background-color: $color-brand !important;
}

.background-brand-lighter {
    background-color: $color-brand-lighter !important;
}

.background-brand-darker {
    background-color: $color-brand-darker !important;
}

.background-brand-alt {
    background-color: $color-brand-alt !important;
}

.background-brand-alt-lighter {
    background-color: $color-brand-alt-lighter !important;
}

.background-brand-alt-darker {
    background-color: $color-brand-alt-darker !important;
}

.background-text {
    background-color: $color-text !important;
}

.background-text-lighter {
    background-color: $color-text-lighter !important;
}

.background-text-darker {
    background-color: $color-text-darker !important;
}

.background-text-alt {
    background-color: $color-text-alt !important;
}

.background-grey {
    background-color: $color-grey !important;
}

.background-grey-lighter {
    background-color: $color-grey-lighter !important;
}

.background-grey-darker {
    background-color: $color-grey-darker !important;
}

.background-fail {
    background-color: $color-fail !important;
}

.background-success {
    background-color: $color-success !important;
}

.background-link {
    background-color: $color-link !important;
}

.background-link-alt {
    background-color: $color-link-alt !important;
}

.background-hover {
    background-color: $color-hover !important;
}

.background-hover-alt {
    background-color: $color-hover-alt !important;
}

.background-transparent {
    background-color: transparent !important;
}

.background-white {
    background-color: #fff !important;
}

// BORDERS

.border {
    border: 1px solid $color-brand;
}

.border-radius {
    border-radius: $border-radius;
}

// HIDE

.hide-280 {
    @media (max-width: 280px) {
        display: none !important;
    }
}
.hide-290 {
    @media (max-width: 290px) {
        display: none !important;
    }
}
.hide-300 {
    @media (max-width: 300px) {
        display: none !important;
    }
}
.hide-310 {
    @media (max-width: 310px) {
        display: none !important;
    }
}
.hide-320 {
    @media (max-width: 320px) {
        display: none !important;
    }
}
.hide-330 {
    @media (max-width: 330px) {
        display: none !important;
    }
}
.hide-340 {
    @media (max-width: 340px) {
        display: none !important;
    }
}
.hide-350 {
    @media (max-width: 350px) {
        display: none !important;
    }
}
.hide-360 {
    @media (max-width: 360px) {
        display: none !important;
    }
}
.hide-370 {
    @media (max-width: 370px) {
        display: none !important;
    }
}

.hide-380 {
    @media (max-width: 380px) {
        display: none !important;
    }
}

.hide-390 {
    @media (max-width: 390px) {
        display: none !important;
    }
}

.hide-400 {
    @media (max-width: 400px) {
        display: none !important;
    }
}
