.main__wrapper {
  input[type="text"], input[type="date"], input[type="email"], input[type="password"], input[type="search"],
  input[type="tel"], input[type="number"], input[type="url"], input[type="week"] {
    min-height: 10px !important;
  }

  .form-group input, .form-group select, .form-group textarea {
      width: 100%;
      padding: .5rem 1rem;
      background: #fff;
      border: 1px solid #ddd;
  }

  .form-group {
      label {
          text-transform: uppercase;
          font-size: 14px;
          font-family: $font-primary;
          letter-spacing: 1px;
      }
  }

  .field-validation-error {
      color: $color-fail !important;
  }

  .input-validation-error {
      border-color: $color-fail !important;
  }

  #sat_form {
    @extend .row;
  }

.sat_form-group.error input{
  border:2px solid red;
}

.sat_form-group.error label{
  color:red;
}

  .sat_form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-size: 16px;

    legend {
      font-size: 14px;
      font-family: $font-primary;
      margin-bottom: 0.25em;
    }

    label {
      margin-bottom: 0;
      font-size: 14px;
    }

    input[type='text'], input[type='email'], select {
      width: 100%;
      height: 30px;
      border: 1px solid #55565a;
      opacity: 0.65;
      transition: all .3s ease-out;

      &:active {
        opacity: 1;
        transition: all .3s ease-out;
      }
    }

    .btn-submit {
      @extend .btn-submit;
    }

    input[type='checkbox'] {
      width: 22px;
      height: 22px;
      margin-right: 0.75em;
      margin-bottom: 0;
      margin-left: 0;
    }

    input[type='radio'] + label {
      margin-right: 0;
      margin-left: 0;
    }

    .sat_form-fieldset-group {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 0.25rem;

      label {
        font-size: 13px !important;
      }
    }
  }

  // Radio buttons

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
      position: relative;
      padding-left: 26px;
      cursor: pointer;
      display: inline-block;
      font-size: 18px;
      font-family: $font-primary;
      text-transform: none;
      font-weight: 400;
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 0.5px solid #55565a;
      border-radius: 100%;
      background-color: transparent;
  }

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: $color-brand;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }

  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }

  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}
