.modal-backdrop {
  @include media-breakpoint-up(lg) {
    left: 50%;
  }
}

.product-detail-modal {
  .embed-responsive {
    min-height: 400px;
  }

  .main__header, .site-wide {
    display: none !important;
  }

  .modal-dialog {
    height: 95%;

    .modal-content {
      height: 100%;
      border: 2px solid $color-brand;

      .close {
        display: inline-flex;
        align-items: center;

        .fa {
          color: #000;
        }

        .button-text {
          font-size: 16px;
          padding-right: 0.25rem;
        }
      }

      .modal-body {
        display: flex;
        flex-direction: column;
        padding:0;

        .embed-responsive {
          flex-grow: 2;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    left: 50%;
  }
}

.stay-updated-modal {

  .modal-dialog {
    width: 640px;
    height: 95%;

    .modal-content {
      height: 100%;
      border: 2px solid $color-brand;

      .close {
        display: inline-flex;
        align-items: center;

        .fa {
          color: #000;
        }

        .button-text {
          font-size: 16px;
          padding-right: 0.25rem;
        }
      }

      .modal-body {
        display: flex;
        flex-direction: column;
        padding:0;

        .embed-responsive {
          flex-grow: 2;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    left: 50%;
  }
}
