
.browse-products {
  border: 1px solid $color-brand;
  border-radius: 10px;

  .browse-products-category {
    @extend .col-12;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0 !important;
    border: 1px solid $color-brand;
    background: #dfe4cc;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    outline: none !important;
    transition: all 0.3s ease-out;

    .fa {
      display: block;
      margin-left: auto;
      padding-left: 0.5rem;
      font-size: 28px;
      color: #000;
      transition: all 0.3s ease-out;
    }

    .category-title {
      padding-left: 1.5rem;
      text-transform: uppercase;
      color: 000;
      transition: all 0.3s ease-out;

      @include media-breakpoint-down(xs) {
        padding-left: 0.75rem;
        font-size: 22px;
      }
    }

    .category-image {
      height: 75px;
      min-width: 75px;
      max-width: 300px;
      flex-grow: 2;
      flex-shrink: 2;
      background-size: cover !important;
      border-right: 2px solid $color-brand;
      position: relative;

      @include media-breakpoint-down(lg) {
        max-width: 150px;
      }

      @include media-breakpoint-down(md) {
        max-width: 300px;
      }

      @include media-breakpoint-down(sm) {
        max-width: 200px;
      }

      @include media-breakpoint-down(xs) {
        max-width: 75px;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        background: #fff;
        transition: all 0.3s ease-out;
      }
    }

    &:hover,
    :focus,
    :active {
      .fa,
      .category-title {
        padding-left: 2rem;
        color: $color-brand-lighter !important;
        transition: all 0.3s ease-out;
      }

      .category-image {
        &:before {
          opacity: 0.2;
          transition: all 0.3s ease-out;
        }
      }
    }

    &:first-of-type {
      border-radius: 8px 8px 0 0;

      .category-image {
        border-radius: 8px 0 0 0;
      }
    }

    &:last-of-type {
      border-radius: 0;
      transition: border-radius 0.05s;

      .category-image {
        border-radius: 0;
        transition: border-radius 1s;
      }

      &.collapsed {
        border-radius: 0 0 8px 8px;
        transition: border-radius 0.3s;

        .category-image {
          border-radius: 0 0 0 8px;
          transition: border-radius 1s;
        }
      }
    }

    &.watermelon {
      .category-image {
        background: url(https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/28/category-watermelon.jpg) center center no-repeat;
      }
    }

    &.melon {
      .category-image {
        background: url(https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/28/category-melon.jpg) center center no-repeat;
      }
    }

    &.squash {
      .category-image {
        background: url(https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/28/category-squash.jpg) center center no-repeat;
      }
    }

    &.cucumber {
      .category-image {
        background: url(https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/28/category-cucumber.jpg) center center no-repeat;
      }
    }
  }

  .product-items {
    @extend .col-12;

    border-right: 1px solid $color-brand;
    border-bottom: 1px solid $color-brand;
    border-left: 1px solid $color-brand;
    background: #dee096;
    position: relative;

    .row {
      justify-content: center;
      align-items: stretch;
      padding: 1rem;
    }

    .close-category {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      font-size: 12px;
      padding: 2px 10px;
      color: #fff;
      background: $color-brand;
      border: none !important;
      outline: none !important;
      text-decoration: none !important;
      border-radius: 5px 5px 0 0;
      transition: all 0.3s ease-out;

      .fa {
        padding-left: 0.25rem;
        color: #fff;
      }

      &:hover,
      :focus,
      :active {
        background: $color-brand-lighter;
        transition: all 0.3s ease-out;
      }
    }

    .product-item {
      @extend .col-12;
      @extend .col-sm-6;
      @extend .col-md-4;
      @extend .col-lg-6;
      @extend .col-xl-4;

      display: flex;
      align-items: stretch;
      margin-top: 1rem;
      margin-bottom: 1rem;

      .product-item-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        text-decoration: none !important;
        padding: 0;
        border: 0;
        white-space: normal;

        .item-image {
          height: 200px;
          background-position: center center !important;
          background-size: cover !important;
          position: relative;
          border-radius: 2px 2px 0 0;

          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            background: #fff;
            transition: all 0.3s ease-out;
          }
        }

        .item-title {
          text-align: center;
          flex-grow: 2;
          padding: 1rem 0.5rem;
          background: $color-brand;
          font-family: Arial, sans-serif;
          color: #fff;
          text-transform: uppercase;
          font-weight: 600;
          line-height: 1.1;
          transition: all 0.3s ease-out;
          border-radius: 0 0 2px 2px;
        }

        &:hover,
        :active,
        :focus {
          .item-title {
            background: $color-brand-lighter;
            transition: all 0.3s ease-out;
          }

          .item-image {
            &:before {
              opacity: 0.2;
              transition: all 0.3s ease-out;
            }
          }
        }
      }
    }

    &:last-of-type {
      border-radius: 0 0 8px 8px;
    }
  }
}
