//Makes update browser message occupy whole screen
.buorg {
  bottom: 0px;
}

.fa {
  color: #000;
}

//Fixes Global Footer for event page split screens
.footer__global {
  @include media-breakpoint-up(lg) {
    padding-left: 51% !important;
    margin-right: 1% !important;
    max-width: unset !important;
  }
}

.main__wrapper {
  @import "bootstrap4/grid";

  .messages:before {
    font-size: 30px;
  }

  p {
      -ms-flex: 0 1 auto;
      max-width: 100%;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 1rem;
      font-family: $font-primary;

      &.large {
          font-size: 20px;
          line-height: 1.3;
      }

      &.small {
          font-size: 14px;
          line-height: 1.3;
      }

      &.tall {
        line-height: 2.1;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      /*
      @include media-breakpoint-down(xs) {
          font-size: 16px;
          line-height: 26px;

          &.small {
              font-size: 14px;
              line-height: 22px;
          }
          &.large {
              font-size: 18px;
              line-height: 30px;
          }
      }
      */
  }

  a {
      font-size: 16px;
      rem: 1;
      color: $color-link;
      transition: all .3s ease-out;

      &:hover, :active, :focus {
          color: $color-hover;
          transition: all .3s ease-out;
      }
  }

  router-link, .router-link {
    color: $color-link;
    cursor: pointer;
    transition: all .3s ease-out;

    &:hover, :active, :focus {
      color: $color-hover;
      transition: all .3s ease-out;
    }
  }

  hr {
      border-color: $color-grey;

      &.lighter {
          border-color: $color-grey-lighter;
      }
      &.darker {
          border-color: $color-grey-darker;
      }
  }

  .legal {
    font-size: 12px;
    font-family: $font-primary;
    font-weight: 400;
    color: #000;
    line-height: 1.1;

    a {
      font-size: 12px !important;
    }
  }

  .disclaimer {
    padding-left: 1em;
    position: relative;

    &:before {
      content: '*';
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // More Fixes for Native Drupal css

  .pane-menu-menu-primary > .menu > .menu__item > .menu__link {
    font-size: 15px !important;
  }

  .pane-menu-menu-primary > .menu > .menu__item > .menu__link, .pane-menu-menu-secondary > .menu > .menu__item > .menu__link {
    font-size: 15px !important;
  }

  .footer__global .menu__link, .footer__global .copyright {
    font-size: 15px !important;
  }

  .pane-menu-menu-secondary .menu > .menu__item .fa-lock, .pane-menu-menu-secondary .menu > .menu__item .fa-user, .pane-menu-menu-secondary .menu > .menu__item .fa-unlock {
    border-left: none !important; //hides divider (left border) for login navigation
  }

  // Headers

  h1, .h1 {
      margin: 0;
      padding: 0;
      font-size: 40px;
      line-height: 1.2;
      font-family: $font-secondary;
      word-wrap: break-word;
      font-weight: 600;

      &.shadow {
        text-shadow: 0 0 4px rgba(0,0,0,.4), 4px 5px 8px rgba(0,0,0,.2);
      }

      span {
        display: block;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
      }

      @media (max-width: 359px) {
          font-size: 42px;
      }
  }

  h2, .h2 {
      margin: 0;
      padding: 0;
      font-size: 35px;
      font-weight: 600;
      font-family: $font-secondary;
      word-wrap: break-word;
      line-height: 1.2;

      @include media-breakpoint-down(md) {
          font-size: 28px;
      }

      @media (max-width: 359px) {
          font-size: 24px;
      }
  }

  h3, .h3 {
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    word-wrap: break-word;
    font-family: $font-secondary;

    @include media-breakpoint-down(md) {
        font-size: 26px;
    }

    @media (max-width: 359px) {
        font-size: 22px;
    }
  }

  h4, .h4 {
      margin: 0;
      padding: 0;
      font-size: 20px;
      line-height: 1.2;
      font-family: $font-primary;
      font-weight: 700;
      text-transform: uppercase;
      word-wrap: break-word;
  }

  h5, .h5 {
      margin: 0;
      padding: 0;
      font-size: 18px;
      line-height: 1.2;
      font-family: $font-primary;
      font-weight: 700;
      word-wrap: break-word;
  }

  h6, .h6 {
      margin: 0;
      padding: 0;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.2;
      font-family: $font-primary;
      word-wrap: break-word;
  }

  // Buttons
  .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

  .btn {
      display: inline-flex;
      font-family: $font-tertiary;
      cursor: pointer;

      &.width-200 {
          padding-left: 10px !important;
          padding-right: 10px !important;
          width: 200px !important;
          max-width: 100% !important;
          word-wrap: break-word;

          @media (max-width: 230px) {
              width: 100% !important;
          }
      }

      &.width-250 {
          padding-left: 10px !important;
          padding-right: 10px !important;
          width: 250px !important;
          max-width: 100% !important;
          word-wrap: break-word;

          @media (max-width: 280px) {
              width: 100% !important;
              padding-left: 10px !important;
              padding-right: 10px !important;
          }
      }

      &.width-300 {
          padding-left: 10px !important;
          padding-right: 10px !important;
          width: 300px !important;
          max-width: 100% !important;
          word-wrap: break-word;

          @media (max-width: 330px) {
              width: 100% !important;
          }
      }

      .icon {
        font-size: 1.35em;
        margin-right: .5em;
      }

      .fa {
        font-size: 1.35em;
      }
  }

  .btn-brand {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: .75rem;
      padding-bottom: .75rem;
      background: $color-brand;
      border: none;
      color: #fff;
      font-family: $font-primary;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      border-radius: $border-radius;
      transition: all .3s ease-out;
      opacity: 1;

      &.bubble {
          position: relative;
          padding-left: .5rem;
          padding-right: .5rem;
          border-radius: 0;
          border: none;

          &:before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 99%;
              width: 2rem;
              border-radius: 50% 0 0 50%;
              background: $color-brand;
              transition: all .3s ease-out;
          }

          &:after {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 99%;
              width: 2rem;
              border-radius: 0 50% 50% 0;
              background: $color-brand;
              transition: all .3s ease-out;
          }
      }

      &.big {
        transform: scale(1.5);
      }

      .fa {
        color: #fff;
        transition: all .3s ease-out;
      }

      &:hover, :active, :focus {
          background: $color-brand-lighter;
          color: #fff;
          transition: all .3s ease-out;
          opacity: 1;

          .fa {
            color: #fff;
            transition: all .3s ease-out;
          }

          &.bubble {
            &:before {
              background: $color-hover;
              border-color: $color-hover;
              transition: all .3s ease-out;
            }
            &:after {
              background: $color-hover;
              border-color: $color-hover;
              transition: all .3s ease-out;
            }
          }
      }
  }

  .btn-brand-darker {
    @extend .btn-brand;
    background: $color-brand-darker;
    border-color: $color-brand-darker;
  }

  .btn-hollow {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    background: transparent;
    color: $color-brand;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid $color-brand;
    border-radius: $border-radius;
    transition: all .3s ease-out;
    opacity: 1;

    .fa {
      color: $color-brand;
      transition: all .3s ease-out;
    }

    &:hover, :active, :focus {
        border-color: $color-hover-alt;
        color:$color-hover-alt;
        transition: all .3s ease-out;
        opacity: 1;

        .fa {
          color: $color-brand-lighter;
          transition: all .3s ease-out;
        }
    }
  }

  .btn-hollow-darker {
    @extend .btn-hollow;
    color: $color-brand-darker;
    border-color: $color-brand-darker;
    border-radius: 10px;

    .fa {
      color: $color-brand-darker;
      transition: all .3s ease-out;
    }

    &:hover, :active, :focus {
      .fa {
        color: $color-brand-lighter;
        transition: all .3s ease-out;
      }
    }
  }

  .btn-submit {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $font-primary;
    color: #fff;
    background: $color-brand;
    border: 2px solid $color-brand;
    opacity: 1;
    transition: all .3s ease-out;

    &:hover, :active, :focus {
        background:  $color-hover-alt;
        border: 2px solid $color-hover-alt;
        transition: all .3s ease-out;
    }
  }

  .big-play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: $color-brand-lighter;
    transition: all .3s ease-out;

    &:before {
      content: '\f04b';
      font-family: "FontAwesome";
      display: block;
      color: #fff;
      font-size: 75px;
      margin-left: 15px;
    }

    &:hover, :active, :focus {
        transition: all .3s ease-out;
    }
  }
}


// More Syngenta Drupal Fixes

.footer__global .menu__link, .footer__global .copyright {
  font-size: 15px !important;
}

.branding .geography-indicator {
  font-size: 14px !important;
}

.call-to-action-btn-primary:before, .pane-node-field-service-help-message .pane-title:before, .pane-syn-service-weed-id-form-pane .linktext:before, .field-name-field-cta-link a:before, .entitytype-syn_ef_contact_us-form .field-name-field-ef-contac-us-upload-your-p .add-service:before, .entitytype-contact_us_cloned_-form .field-name-field-ef-contac-us-upload-your-p .add-service:before, #syn-seedtreatment-student-add .field-name-field-ef-contac-us-upload-your-p .add-service:before, .page-pm-model-cf .remove-btn:before, .page-soil-water-cf .remove-btn:before, .pane-syn-service-de-soil-water .diagram-submit-button:before, .pane-syn-service-de-pm-model-pane .pm-submit-btn:before, .call-to-action-btn-download:before, .hero__link a:before, .service-banner .field-name-field-link a:before, .node-type-service .twocols-right__top .pane-node .field-name-field-link a:before, .node-poll .poll-submit:before, .node-poll .form-actions:before, #sliding-popup .popup-content #popup-buttons button.agree-button:before, .node-service .pane-links-pane a:before, .service-weather .pane-links-pane a:before, .page-eform-submit-corn-herbicide-adviser .entity-entityform-type .multipage-controls-list .multipage-link-next:before, .page-eform-submit-corn-herbicide-adviser .entity-entityform-type .multipage-controls-list .multipage-link-previous:before, .page-eform-corn-herbicide-adviser-confirm .product-wrapper .product-info .product-url a:before, .field-collection-table-override .add-more-crop:before, .view-my-dashboard .add-service:before, .pane-syn-lms-certificate .download-cert a:before, .pane-bundle-weather-widget .pane-links-pane a:before, .field-name-field-service-sign-up-page a:before, body.agriclime-service .pane-node-field-service-sign-up-page a:before, #edit-pm-model-group-list .add-more:before, #edit-soil-water-group-list .add-more:before, .pane-syn-service-weed-id-form-pane .weedid-step-four .view-id-service_weed_id_target .views-field-view-node a:before, .entitytype-hyvido-form .remove-crop input:before, .pane-price-list .view-footer a:before, .pane-hubs-links-pane a:before, .pane-bundle-hubs-right-service-slider .cta-button a:before, .node-type-blog .main__content-panes .rows-wrapper .panel-panel .pane-next-previous a:before, .pane-bundle-cta-full-width .field-name-field-cta-link a:before, .full-width-hero--info-wrapper .full-width-hero--link a:before, .panel-pane.pane-syn-seedtreatment-student-pane #syn-seedtreatment-student-add input[type='submit']:before, .user-register-form .form-actions:before, .comment-wrapper .comment-form .form-actions:before, .user-form-submit:before, .view-my-services .form-actions:before, .entitytype-hyvido-form .multipage-button:before, .call-to-action-btn-blue-input:before, .call-to-action-link-blue:before, .pane-my-sales-representative-contacts-my-sales-representatives .sales-representative-submit:before, .comment-wrapper .comment-form .form-actions input[type='submit']:before, .tfa-setup .tfa-submit:before, .set-up-app-link a:before, body.agriclime-service .multipage-controls-list input.form-submit:before, body.agriclime-service .multipage-controls-list input#edit-submit:before, .preview-email-btn:before, .preview-fax-btn:before, .call-to-action-btn-blue:before, .user-login-cancel a:before, .user-link-cancel a:before, .page-pm-model-cf .cancel-btn a:before, .page-soil-water-cf .cancel-btn a:before, .user-form-cancel:before, .page-syn-service-hyvido .confirmation #edit-cancel:before, .call-to-action-btn-gray:before, .node-type-flower-product .twocols-33-67 .panel-col-top .pane-node-field-p-f-availability-link a:before {
  font-size: 21px !important;
}

// Banners

.banner {
  .banner-content {
    @extend .col-12;
    @extend .col-md-5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height:545px;

    .banner-content-item {
      padding: 1.5rem;
      background: rgba(255, 255, 255, 0.9);
      text-align: left;
      border-bottom: 8px solid $color-brand;

      @include media-breakpoint-up(xl) {
        padding: 2rem 3rem;
      }

    }
  }
}

.banner-registration {
  @extend .col-12;
  @extend .col-md-7;
  @extend .col-lg-6;
  @extend.col-xl-4;
  position: relative;
  min-height: 545px;
}

.banner-home {
  background:#000 url("https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/04/banner-home.jpg") no-repeat;
  background-size: cover;
  position:relative;

  @media (max-width: 400px) {}
  @include media-breakpoint-up(xs) {
    background-position: left center;
  }
  @include media-breakpoint-up(sm) {
    background-position: left center top;
  }
  @include media-breakpoint-up(md) {}
  @include media-breakpoint-up(lg) {}
  @include media-breakpoint-up(xl) {}
}

.banner-event {
  @extend .col-12;

  background:url("https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/04/banner-home.jpg") no-repeat;
  background-size: cover;
  position:relative;
  border-radius: 20px 20px 0 0;

  .banner-content {
    @extend .col-12;
    @extend .col-md-12;
    height: auto;
    margin: 0;
    padding: 0 !important;
    text: center;
    color: $color-brand-darker;
    background-position: 29% center;

    .banner-content-item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 160px;
      background: rgba(255, 255, 255, 0.8);
    }
  }

  @media (max-width: 400px) { }

  @include media-breakpoint-down(xs) {}

  @include media-breakpoint-down(sm) {}

  @include media-breakpoint-down(md) {
    h1 {
      font-size: 30px;
    }

    border-radius: 0;

    .banner-content {
      .banner-content-item {
        min-height: 100px;
      }
    }
  }

  @include media-breakpoint-down(lg) { }

  @include media-breakpoint-down(xl) { }
}

.banner-collage {
  width: 100%;
  height: 600px;
  background: url(https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/10/banner-collage.jpg) left center no-repeat;

  @include media-breakpoint-up(xs) {
    background-position: left top;
  }
  @include media-breakpoint-up(sm) {
    background-position: -170px center;
  }
  @include media-breakpoint-up(md) {
    background-position: left top;
  }
  @include media-breakpoint-up(lg) {
    background-position: center center;
  }
  @include media-breakpoint-up(xl) {
    background-position: center center;
  }
}

//Displays

.registration-switch-image {
  width: 100%;
  min-height: 400px !important;
  background: url(https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/11/syngenta-flag.jpg) center center no-repeat;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    background: url(https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/11/syngenta-pavilions.jpg) 90% center no-repeat;
  }

  @include media-breakpoint-up(xl) {
    background: url(https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/11/syngenta-pavilions.jpg) 90% center no-repeat;
  }
}

.event-switch-image {
  width: 100%;
  background: url(https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/11/syngenta-flag.jpg) center center no-repeat;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    background: url(https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/11/syngenta-pavilions.jpg) 90% center no-repeat;
    min-height: 400px !important;
  }

  @include media-breakpoint-up(md) {
    background: url(https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/11/syngenta-flag.jpg) center center no-repeat;
  }

  @include media-breakpoint-up(lg) {
    background: url(https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/11/syngenta-pavilions.jpg) 90% center no-repeat;
  }

  @include media-breakpoint-up(xl) {
    background-position: top left;
  }
}

.add-to-calendar {
  display: flex;
  flex-direction: column;

  .add-to-calendar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    .item-button {
      background: $color-link-alt;
      color: #fff !important;
      z-index: 8;
    }

    .item-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      margin-right: 1rem;
      font-size: 26px;
      border-radius: 50%;
      background: $color-brand;
      color: #fff;

      .fa {
        color: #fff !important;;
      }
    }

    .item-content {
      line-height: 1.3;

      .item-title {
        line-height: 1.1;
        font-weight: 700;
      }
    }

    @include media-breakpoint-down(md) {
      align-items: flex-start;
    }

    .addeventatc {
      .addeventatc_icon {
        background: none;

        &:before {
          content: '\f271';
          font-family: "FontAwesome";
          color: #fff;
          z-index: 1;
          position: absolute;
          top: 2px;
          font-size: 19px;
        }
      }
    }
  }
}

.social-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .social-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: $color-brand;
    font-size: 26px;
    color: #fff;
    transition: all .3s ease-out;

    .fa {
      color: #fff !important;
    }

    &:hover, :active, :focus {
      color: #fff;
      background: $color-brand-lighter !important;
      text-decoration: none;
      transition: all .3s ease-out;
    }
  }
}

.countbox {
  @extend .h3;
  color: $color-brand-alt-darker;
}

.youtube-embed {
    width: 100%;
    position: relative;
    padding-top: 56.363%;

    iframe {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.checklist {
  @extend .row;
  padding: 0;
  margin: 0;
  li {
    @extend .col-12;
    @extend .col-sm-6;
    @extend .col-lg-4;
    list-style: none;
    padding-left: 40px;
    position: relative;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: .5rem;

    &:before {
      content: '\f058';
      font-family: "FontAwesome";
      color: $color-brand;
      font-size:20px;
      position: absolute;
      left: 15px;
      top: -4px;
    }
  }
}

.quick-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -ms-flex: 0 1 auto;
    max-width: 100%;

    .gallery-item {
        display: block;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: 1rem;
        opacity: 1;
        transition: all .3s ease-out;

        &:hover, :active, :focus {
            opacity: .8;
            transition: all .3s ease-out;
        }
    }
}


.quicklinks {
    padding: 1.5rem 1.5rem;
    border: 1px solid $color-brand-alt;
    background: $color-grey-lighter;
    border-radius: 10px;

    .quicklinks-title {
        text-transform: uppercase;
        color: $color-grey-darker;
        font-size: 24px;
        font-weight: 700;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            text-align: center;
            font-size: 18px;
            font-family: $font-secondary;
            margin-bottom: 10px;
            color: $color-text-darker;
        }
    }
}

.video-thumbnail {
  opacity: 1;
  transition: all .3s ease-out;
  &:hover, :active, :focus {
    opacity: .85;
    transition: all .3s ease-out;
    .big-play-button {
      background: $color-brand-alt;
      transition: all .3s ease-out;
    }
  }
}

.video-item {
    width: 100%;
    padding-top: 56.25%;
    position: relative;

    iframe {
        position: absolute;
        top: 0;
        right:0;
        bottom:0;
        left:0;
    }
}

.hidden {
  display: none !important;
}
