html {
  height: 100%;
  font-size: 16px !important;
}

body {
  height: 100%;
  font-family: $font-primary !important;
  font-size: 16px !important;
  background: #fff !important;
}

//Fixes Syngenta Drupal template container to full screen width
.main__content {
  &.container {
    @extend .container-fluid;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .main__content-wrapper {
    @extend .row;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    .main__content-panes {
      width: 100%;
    }

    .onecol-stacked__row {
      margin-bottom: 0 !important;
    }
  }
}

.sub-footer {
  padding-top: 4rem;
  padding-bottom: 7rem;
  background-size: cover !important;
  background:url(https://www.syngentavegetables-us.com/sites/g/files/zhg1526/f/2020/08/11/banner-contact.jpg) center center no-repeat;
  position: relative;

  @include media-breakpoint-down(md) {
    background-position: 37% center;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:$color-brand;
    opacity: .55;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .map {
    min-height: 400px;
    position: relative;
    z-index: 3;
    opacity: 0.85;
  }

  .contact-info {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      padding-bottom: 0.25rem;
      font-size: 15px;
      color: $color-brand-alt-darker;
      transition: all 0.3s ease-out;

      .fa {
        margin-right: 10px;
        font-size: 1.2em;
        position: relative;
        top: 0.1em;
      }

      &:hover, :active, :focus {
        color: $color-brand-alt;
        transition: all 0.3s ease-out;
      }
    }
  }

  .contact-form {
    padding: 3rem 2rem;
    background: rgba(255,255,255,.95);
    color: $color-brand-alt-darker;
    position: relative;

    .copyright {
      margin-right: -1.5rem;
      margin-bottom: -2rem;
      margin-left: -1.5rem;
      font-size: 10px;
      text-align: center;

      a {
        font-size: 10px !important;
        text-decoration: underline;
      }
    }
  }

  .wufoo-form-container {
    min-height: 388px;
  }

}
